<div class="container">
	<h1>Cadastro de Vendedor</h1>
	<form>
		<div class="form-group">
			<label for="nome">Nome</label> <input type="text"
				class="form-control" name="nome" [(ngModel)]="vendedor.nome" 
				required>
		</div>
		<div class="form-group">
			<label for="cpf">CPF</label> <input type="text"
				class="form-control" name="cpf" [(ngModel)]="vendedor.cpf"
				required>
		</div>
		<div class="form-group">
			<label for="matricula">Matricula</label> <input type="text"
				class="form-control" name="matricula" [(ngModel)]="vendedor.matricula" 
				required>
		</div>
		<div class="form-group">
			<label for="usuario">Usuario</label> <input type="text"
				class="form-control" name="usuario" [(ngModel)]="vendedor.usuario" 
				required>
		</div>
		<div class="form-group">
			<label for="senha">Senha</label> <input type="password"
				class="form-control" name="senha" [(ngModel)]="vendedor.senha" 
				required>
		</div>
		<button class="btn btn-success" *ngIf="vendedor.id == null" (click)="addVendedor()">Cadastrar</button>
		<button class="btn btn-success" *ngIf="vendedor.id != null" (click)="updateVendedor()">Alterar</button>
	</form>

	<p></p>
	<table class="table">
		<tr>
			<th>Nome</th>
			<th>CPF</th>
			<th>Matricula</th>
			<th>Usuario</th>
			<th>Senha</th>
			<th></th>
			<th></th>
		</tr>
		<tr *ngFor="let vendedor of vendedores">
			<td>{{vendedor.nome}} </td>
			<td>{{vendedor.cpf}}</td>
			<td>{{vendedor.matricula}}</td>
			<td>{{vendedor.usuario}}</td>
			<td>{{vendedor.senha}}</td>
			<td><button (click)="loadVendedor(vendedor)">Editar</button></td>
			<td><button (click)="removeVendedor(vendedor)">Excluir</button></td>
		</tr>
	</table>
</div>









